/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

/* VARIABLES RAIZ */
:root {
  --primary_color: "#000000";
  --standard_size: 20px;
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  background-color: var(--primary_color);
  font-size: var(--standard_size);
  width: 100vw;
  height: auto;
  position: absolute;
}

/* NAVBAR STYLES */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: sticky;
}

.navbar_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.navbar_menu li {
  margin-left: 30px;
}

.navbar_menu li a {
  text-decoration: none;
}

.navbar_logo a {
  text-decoration: none;
}

.navbar_logo a img {
  width: 150px;
  height: 150px;
}

/* HERO STYLES */
.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../images/hero_01.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: none;
  height: calc(100vh - 72px);
}

.hero_container h1 {
  color: azure;
}

.hero_container_title {
  font-size: 55px;
  font-style: oblique;
}

.contenedor-descripcion {
  height: 400px;
  width: auto;
  text-align: center;
}

/*ANIMACION*/

.contenedor-animacion {
  height: 380px;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: linear-gradient(rgba(255, 255, 255, 0.091),
      rgba(28, 20, 102, 0.489));
}

.chico {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  animation: chico 1s ease-in-out 2s infinite;
}

@keyframes chico {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.chica {
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
}

/* ANIMACION:ONDAS MUSICALES*/

.ondas {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.music {
  width: 300px;
  height: 200px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.music .bar {
  width: 12px;
  border-radius: 10px;
  background: white;
  animation: movement 1.5s ease-in-out infinite;
  border-width: 1px;
}

@keyframes movement {

  0%,
  100% {
    height: 2px;
  }

  50% {
    height: 80px;
  }
}

.music .bar:nth-child(1) {
  background: #901e9b;
  animation-delay: 1s;
}

.music .bar:nth-child(2) {
  background: rgb(83, 53, 190);
  animation-delay: 0.8s;
}

.music .bar:nth-child(3) {
  background: #901e9b;
  animation-delay: 0.6s;
}

.music .bar:nth-child(4) {
  background: rgb(83, 53, 190);
  animation-delay: 0.4s;
}

.music .bar:nth-child(5) {
  background: #901e9b;
  animation-delay: 0.2s;
}

.music .bar:nth-child(6) {
  background: rgb(83, 53, 190);
  animation-delay: 0.6s;
}

.music .bar:nth-child(7) {
  background: #901e9b;
  animation-delay: 1s;
}

.music .bar:nth-child(8) {
  background: rgb(83, 53, 190);
  animation-delay: 1s;
}

.music .bar:nth-child(9) {
  background: #901e9b;
  animation-delay: 0.8s;
}

.music .bar:nth-child(10) {
  background: rgb(83, 53, 190);
  animation-delay: 1s;
}

.ondas2 {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0px, 100px);
}

.quienes-somos{
  display: flex;
}

.quienes-somos-titulo{
  font-size: 2.5rem;
  
}

.quienes-somos-texto{
  margin: 0 1rem 0 1rem;
  padding: auto;
  padding-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
  background-color:azure;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px grey;
}

.quienes-somos-img{
  width: 50%;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px grey;
}

/*FOOTER STYLES*/
footer .container {
  background-color: #e385ec;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
  border-top-width: 10px;
  border-top-color: black;
}

footer .tittle-section {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 33%;
}

.tittle-section img {
  width: 33%;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.information a {
  text-decoration: none;
  color: black;
  position: relative;
}

.social-network {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 33%;
}

.social-network i {
  font-size: 25px;
  padding: 0.25rem;

  justify-content: center;
}

.botton-twitter {
  color: #00acee;
}

.botton-facebook {
  color: #3b5998;
}

.botton-instagram {
  color: black;
}

.botton-tiktok {
  color: black;
}

/*FOOTER STYLES*/

/* MEDIA QUERIES || RESPONSIVE  */